<!doctype html>
<html lang="en">
<head>
    <link href="{{ asset('front/css/signupcss.css') }}" rel='stylesheet' type='text/css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{% block body %}
<body>
<section class="vh-100 bg-image" style="background-color: whitesmoke">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">ajouter Votre location</h2>
                            {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
                            <form action="signup" method="post" name="signup">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">Nom</label>
                                    {{ form_widget(form.nom) }}
                                    {{ form_errors(form.nom) }}
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">type</label>
                                    {{ form_widget(form.type) }}
                                    {{ form_errors(form.type) }}

                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">lieu</label>
                                    {{ form_widget(form.lieu) }}
                                    {{ form_errors(form.lieu) }}

                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">numtel</label>
                                    {{ form_widget(form.numtel) }}
                                    {{ form_errors(form.numtel) }}
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">heure</label>
                                    {{ form_widget(form.heure) }}
                                    {{ form_errors(form.heure) }}
                                </div>
                               

                               
                                <button type="submit" class="btn btn-secondary" href="{{ path('accueil') }}">ajouter
                                </button>
                                <button type="button" class="btn btn-secondary" href="{{ path('accueil') }}">Annuler</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>
</body>
{% endblock %}
