{% extends 'base-admin.html.twig' %}

{% block title %}Hello EvenementController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <main id="main" class="main">
        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <!-- Table with stripped rows -->
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prenom</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Login</th>
                                    <th scope="col">Telephone</th>
                                    <th scope="col">rank</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for users in users %}
                                    <tr>
                                        <td>{{ users.nomUtilisateur |upper}}</td>
                                        <td>{{ users.prenomUtilisateur}}</td>
                                        <td>{{ users.emailUtilisateur}}</td>
                                        <td>{{ users.loginUtilisateur}}</td>
                                        <td>{{ users.telephoneUtilisateur}}</td>
                                        {% if users.rankUtilisateur ==0  %}
                                        <td>utilisateur</td>
                                        {% endif %}
                                        <td>
                                                <button type="button" class="btn btn-success"><a style="color: #fff" href="{{ path('rankup',{'id':users.idUtilisateur}) }}">Booster</a></button>

                                        </td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                            {{ knp_pagination_render(users) }}
                            <!-- End Table with stripped rows -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->

{% endblock %}
